.card {
    border: 2px solid brown;
    border-radius: 7px;
    padding: 7px 7px;
    margin: 25px 0;
    width: 200px;
    word-wrap: break-word;
}
.username{
    font-weight: 600;
    color: brown;
}